html {
    font-size: var(--fs);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing);
  }

body {
  max-width: 90vw;
  margin: auto;
  background-color: hsla(160, 3%, 88%, 0.53);
}

.fruits {
    width: 300px;
}

.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.item-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.item-img img {
    width: 300px;
}

.basket-button {
    display: flex;
    justify-content: center;
}

/* Basket */

.basket-container {
    /* display: flex; */
    
    background-color: white;
    margin-top: 5rem;
}

.fb-header {
    display: flex;
    justify-content: center
}

.h2-header {
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: space-evenly;
}

.item-row-section {
    display: flex;
    justify-content: space-evenly;
}

.banana-section {
    display: flex;
    /* justify-content: space-evenly; */
}

.counter-section {
    display: flex;
}

