:root {
    --letter-spacing: 0.1rem;
    /* The default text size in browsers is 16px. So, the default size of 1rem is 16px. */
    --fs: 1rem;
    }

html {
    font-size: var(--fs);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing);
  }

body {
  max-width: 90vw;
  margin: auto;
  background-color: hsla(160, 3%, 88%, 0.53);
}

/* Button rules */

button {
    transition: all 1s ease;
    border: none;
    border-radius: 25%;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
}

/* Header & cards */

#title-header {
    text-align: center;
    padding: 2%;
}

.fruits {
    width: 300px;
}

.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.item-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 300px;
}

.item-img img {
    width: 300px;
}

.item-desc {
    display: flex;
    flex-direction: column;
}

.item-desc p, h2 {
    align-self: center;
    justify-self: center;
}

.basket-button {
    display: flex;
    justify-content: center;
}

.empty-fruit-button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}


/* Fruit basket grid */

.grid-container {
    display: grid;
    grid-template-areas: "head head head head" 
                         "items units units units" 
                         "fruit0 minus0 count0 plus0"
                         "fruit1 minus1 count1 plus1"
                         "fruit2 minus2 count2 plus2"
                         "fruit3 minus3 count3 plus3"
                         "emptyl clearl clearr emptyr";
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    /* Further basket styles */
    background-color: rgb(172, 152, 215);
    width: 300px;
    height: 585px;
    min-width: fit-content;
    margin: 2rem auto 2rem auto;
    
}

#f-head {
    grid-area: head;
    justify-self: center;
}

#items {
    grid-area: items;
    justify-self: center;
    align-self: center;
}

#units {
    grid-area: units;
    justify-self: center;
    align-self: center;
}

/* Banana */
#ban-fruit0 {
    grid-area: fruit0;
    justify-self: center;
    align-self: center;
}

#ban-minus0 {
    grid-area: minus0;
    max-width: fit-content;
    justify-self: end;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%
}

#ban-count0 {
    grid-area: count0;
    max-width: fit-content;
    justify-self: center;
    align-self: center;
    
}

#ban-plus0 {
    grid-area: plus0;
    max-width: fit-content;
    justify-self: start;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%;
    
}

/* Berries */
#ban-fruit1 {
    grid-area: fruit1;
    justify-self: center;
    align-self: center;
}

#ban-minus1 {
    grid-area: minus1;
    max-width: fit-content;
    justify-self: end;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%
}

#ban-count1 {
    grid-area: count1;
    max-width: fit-content;
    justify-self: center;
    align-self: center;
    
}

#ban-plus1 {
    grid-area: plus1;
    max-width: fit-content;
    justify-self: start;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%;
}

/* Grapes */
#ban-fruit2 {
    grid-area: fruit2;
    justify-self: center;
    align-self: center;
}

#ban-minus2 {
    grid-area: minus2;
    max-width: fit-content;
    justify-self: end;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%
}

#ban-count2 {
    grid-area: count2;
    max-width: fit-content;
    justify-self: center;
    align-self: center;
    
}

#ban-plus2 {
    grid-area: plus2;
    max-width: fit-content;
    justify-self: start;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%;
}

/* Watermelon */
#ban-fruit3 {
    grid-area: fruit3;
    justify-self: center;
    align-self: center;
}

#ban-minus3 {
    grid-area: minus3;
    max-width: fit-content;
    justify-self: end;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%
}

#ban-count3 {
    grid-area: count3;
    max-width: fit-content;
    justify-self: center;
    align-self: center;
    
}

#ban-plus3 {
    grid-area: plus3;
    max-width: fit-content;
    justify-self: start;
    align-self: center;
    font-size: 1.1rem;
    border: none;
    border-radius: 25%;
}

/* Total fruits counter */

#total-fruits {
    grid-area: emptyl;
    max-width: fit-content;
    justify-self: center;
    align-self: center;
}

/* Empty basket button */

#empty-basket {
    grid-area: clearr;
    max-width: fit-content;
    justify-self: center;
    align-self: center;
}
